<div class="container">
  <h1>Profile Page</h1>
  <div id="personalInfo-container">
    <h3>Personal Info</h3>
    <div class="personalInfo">
      <img
        class="personalInfo-image"
        src="<%- loggedInUser.profilePic %>"
        alt="profile-pic"
      />
      <ul class="personalInfo-texts">
        <li>Username: <%- loggedInUser.username %></li>
        <li>Email: <%- loggedInUser.email %></li>
        <li>Age: <%- loggedInUser.age %></li>
        <li>Gender: <%- loggedInUser.gender %></li>
        <li>Weight: <%- loggedInUser.weight %></li>
        <li>Height: <%- loggedInUser.height %></li>
        <li>Bio: <%- loggedInUser.bio %></li>
      </ul>
    </div>
  </div>
  <button
    class="btn btn-primary button-accent"
    type="button"
    data-trigger-dialog="pop-up"
  >
    Edit
  </button>
  <p style="color: red">
    <%- typeof errorMessage !== 'undefined' ? errorMessage : "" %>
  </p>
  <div id="personalWorkouts">
    <h3>Personal Workouts</h3>
    <ul></ul>
  </div>
  <br />
  <a class="btn btn-primary" href="/logout">Log Out</a>

  <dialog id="pop-up">
    <form
      name="profile"
      action="/profile"
      method="post"
      enctype="multipart/form-data"
    >
      <h3>Edit Profile</h3>
      <input type="hidden" name="userId" value="<%- loggedInUser._id %>" />
      <label for="username" class="edit-input">
        <p>Username:</p>
        <input
          type="text"
          name="username"
          pattern="[A-Za-z0-9_]{3,20}"
          title="Username must be 3-20 characters long and contain only letters, numbers, and underscores."
          value="<%- loggedInUser.username %>"
          required
          class="form-control"
        />
      </label>
      <label for="password" class="edit-input">
        <p>Password:</p>
        <input
          type="password"
          name="password"
          pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}"
          title="Password must be at least 8 characters long, and contain at least one letter and one number."
          placeholder="********"
          class="form-control"
        />
      </label>
      <label for="email">
        <p>Email:</p>
        <input
          type="email"
          name="email"
          pattern="[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}"
          title="Please enter a valid email address."
          required
          value="<%- loggedInUser.email %>"
          class="form-control"
        />
      </label>
      <label for="age">
        <p>Age:</p>
        <input
          type="number"
          name="age"
          min="0"
          value="<%- loggedInUser.age %>"
          class="form-control"
        />
      </label>
      <label for="gender">
        <p>Gender:</p>
        <input type="radio" name="gender" value="male" />Male
        <input type="radio" name="gender" value="female" />Female
        <input type="radio" name="gender" value="other" />Other
      </label>
      <label for="weight">
        <p>Weight:</p>
        <input
          type="number"
          name="weight"
          min="0"
          value="<%- loggedInUser.weight %>"
          class="form-control"
        />
      </label>
      <label for="height">
        <p>Height:</p>
        <input
          type="number"
          name="height"
          min="0"
          value="<%- loggedInUser.height %>"
          class="form-control"
        />
      </label>
      <label for="bio">
        <p>Bio:</p>
        <textarea name="bio" id="bio" cols="50" rows="2" class="form-control">
  <%- loggedInUser.bio %></textarea
        >
      </label>
      <label for="imageUrl">
        <p>Profile Pic:</p>
        <input type="file" name="imageUrl" accept="image/png, image/jpg" />
      </label>
      <br />
      <div class="button-group">
        <button type="submit" class="btn btn-primary button-accent">
          Submit
        </button>
        <button type="reset" class="btn btn-primary button-accent">
          Reset
        </button>
        <button
          value="cancel"
          formmethod="dialog"
          class="btn btn-primary button-accent"
        >
          Cancel
        </button>
      </div>
    </form>
  </dialog>
</div>
